$background-color: #273640;
$font-color: #ffffff;
$font-size: 12px;
$hover-color: rgba(87, 90, 92, 0.5);
$header-color: lightgray;
$online: green;
$offline: darkred;
$reconnect: orange;
$heading: 16px;
